$font-base-color: #ffffff;
$font-dark-color: rgba(33, 46, 97, 255);
$bgc-color: #ffffff;
$bgc-color-darker: #e0e0e0;
$bgc-shadow: rgb(65, 76, 121);
$remitly-color: rgba(33, 46, 97);
$remitly-color-light: rgb(174, 202, 255);
